@media (min-width:768px){
    .home .main-header{
        font-weight: 600;
        font-size: 4.5rem;
    }
    .type-animate{
        font-size: 2.5rem;
    
    }
}
@media (max-width:576px){
    .container{
        width: 95%;
        margin: auto;
    }
    .counter{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:992px){
     .home, .counter,.slider,.contact{
        background-attachment: scroll;
     }
     nav li:hover::after{
        opacity: 0;
    }
    nav li a{
        transition: all .5s !important;
    }
    nav li a:hover{
        color: rgb(93, 195, 246) !important;
    }
     
}